/* PAAY MODAL */

.no_paay_modal {
    overflow: hidden;
}
#paay-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, .4);
    overflow-x: hidden;
    overflow-y: auto;
}
.paay-modal-dialog {
    top: 0;
    background-color: rgba(256, 256, 256, 1);
    border-radius: 6px;
    position: relative;
    width: auto;
    margin: 3px auto;
    width: 300px;
}
.paay-modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.paay-modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.paay-modal-header .close {
    margin-top: -2px;
}
.paay-modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.paay-modal-body {
    position: relative;
    padding: 5px;
    height: 480px;
}
.paay-modal-body iframe {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.paay-modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media screen and (min-width: 400px) {
    .paay-modal-dialog {
        width: 360px;
    }
}
@media screen and (min-width: 480px) {
    .paay-modal-dialog {
        margin: 10px auto;
        width: 450px;
    }
}
@media screen and (min-width: 768px) {
    .paay-modal-dialog {
        width: 600px;
    }
}

/* LOADER */
.loader {
    margin: 20px auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
    width: 50px;
    height: 50px;
    background-color: #A2CB47;
    border-radius: 50%;
}
.loader:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: loading 2200ms ease-out forwards infinite;
    animation: loading 2200ms ease-out forwards infinite;
}
@-webkit-keyframes loading {
    0% {
        border: 0px solid white;
    }
    20% {
        border: 8px solid white;
        width: 0%;
        height: 0%;
    }
    100% {
        border: 8px solid white;
        width: 100%;
        height: 100%;
    }
}

@keyframes loading {
    0% {
        border: 0px solid white;
    }
    20% {
        border: 8px solid white;
        width: 0%;
        height: 0%;
    }
    100% {
        border: 8px solid white;
        width: 100%;
        height: 100%;
    }
}